# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.EscapeGame2D.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\mineo\Desktop\Espace de développement\Unity\EscapeGame2D\EscapeGame2D\.idea\.idea.EscapeGame2D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
