# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Scripts.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\mineo\Desktop\Espace de développement\Unity\EscapeGame2D\EscapeGame2D\Assets\Scripts\.idea\.idea.Scripts.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
